.title-text {
    font-size: 3rem;
}

.box {
    height: 7rem;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-text {
    font-size: 4rem;
    font-family: Hugwa;
    font-weight: 700;
}

.main-div {
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: 350px !important;
}

.line {
    background-color: black;
}

.comment {
    font-family: TimesSans;
}

span {
    font-family: Hugwa;
    font-size: xx-large;
    font-weight: bolder;
}
